<ion-view title="Página inicial" id="page5">
    <ion-content padding="true" class="has-header">
        <p id="pGinaInicial-markdown6" style="color:#000000;text-align:justify;">Este aplicativo é destinado à maiores de 18 anos e preguiçosos que não gostam de levantar a bunda da cadeira para buscar a próxima cerveja...</p>
        <a ui-sref="quemVaiParticipar" id="pGinaInicial-button14" class=" button button-balanced  button-block ">Continuar</a>
        <a ui-sref="teste" id="pGinaInicial-teste" class=" button button-balanced  button-block ">Teste2</a>
        <button id="pGinaInicial-button15" class=" button button-assertive  button-block ">Sair</button>
    </ion-content>
</ion-view>