<ion-view title="Quem vai participar?" id="page1">
    <ion-content padding="true" class="has-header">
        <p id="quemVaiParticipar-markdown1" style="color:#000000;">Informe quem são os bebedores da roda...</p>
        <ion-list id="quemVaiParticipar-list1">
            <ion-item class="item-avatar  " id="quemVaiParticipar-list-item1">
                <h2>Item</h2>
            </ion-item>
        </ion-list>
        <button id="quemVaiParticipar-button5" class=" button button-positive  button-block ">Adicionar participante</button>
        <a ui-sref="pegadorDaRodada" id="quemVaiParticipar-button4" class=" button button-balanced  button-block ">OK. Sortear!</a>
        <button id="quemVaiParticipar-button13" class=" button button-assertive  button-block ">Sair</button>
    </ion-content>
</ion-view>